* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0d0b16;
    color: white;
}

/* Header */

header {
    height: 75px;
    background: #151220;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.logo {
    color: #d7a9ff;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 3px;
}

nav a {
    color: #ddd;
    text-decoration: none;
    margin-left: 22px;
    font-size: 14px;
}

nav a:hover,
nav .active {
    color: #d7a9ff;
}

/* Heading */

.heading {
    text-align: center;
    padding: 65px;
    background: #181522;
}

.heading h1 {
    color: #d7a9ff;
    font-size: 55px;
    letter-spacing: 4px;
}

.heading p {
    color: #aaa5b2;
}

/* Table */

.schedule {
    width: 85%;
    max-width: 1000px;
    margin: 60px auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #181522;
}

th,
td {
    padding: 18px;
    border: 1px solid #302a3b;
    text-align: left;
}

th {
    background: #282139;
    color: #d7a9ff;
}

td {
    color: #c5c0cc;
}

tr:hover {
    background: #211c2d;
}

/* Footer */

footer {
    text-align: center;
    padding: 25px;
    background: #151220;
    color: #77717e;
    font-size: 13px;
}

@media(max-width: 800px) {

    header {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    nav {
        margin-top: 15px;
        text-align: center;
    }

    nav a {
        display: inline-block;
        margin: 5px;
    }

    .schedule {
        width: 95%;
    }
}